/* Custom Fonts --------------------------------------------------------------------- */
@font-face {
    font-family: '';
    src: url('Fonts/') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('Fonts/') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Reset and Base Styles */
body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "aktiv-grotesk", sans-serif;            
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    scroll-behavior: smooth;
    background-image: url("");
}

/* Typography ---------------------------------------------------------------------- */
h1, h2 {
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-family: "owners-wide", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    font-family: "owners-wide", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "aktiv-grotesk", sans-serif;
}

h5 {
    font-weight: 400;
    font-family: "pf-fuel-grime", sans-serif;
    font-style: normal;
    font-size: 2rem;
    margin: auto;
}

/* Linework growth ----------------------------------------------------------------- */

#defaultCanvas0 {
    position: absolute;
    top: 0;
    mix-blend-mode: overlay;
}

#heroimg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 720px;
    background-image: url(images/texture.png);
    background-size: cover;
}

#titleimg {
    position: absolute;
    z-index: 720px;
    top: 0;
    width: 100vw;
    height: fit-content;
    background-image: url(images/SVG/Recognisetitle.svg);
    background-size: contain;
}

