/* Variables ----------------------------------------------------------------- */

:root {
    /* section heights */
    --heroheight: 900px;
    --navmargin: 40px;
    --navheight: 100px;

    /* colours */
    --bggreen: #0e3325;
    --accent: #d1158d;
    /*
    --coolgreen: ;
    --greengreen: ;
    --warmgreen: ;
    */

    --pink: #831a54;
    --pinkdark: #420d2d;

    --orange: #986c29;
    --orangedark: #412b15;

    --red: #831c1b;
    --reddark: #3d1312;

    --purple: #512c7f;
    --purpledark: #2c1141;
    
    --hex-size: 250px;
}

/* Custom Fonts --------------------------------------------------------------------- */
/*
@font-face {
    font-family: '';
    src: url('fonts/') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: "MissFutura";
    src: url("fonts/Futura-Medium-01.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

/* Reset and Base Styles */
body {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: MissFutura;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    scroll-behavior: smooth;
    background-image: url("");
    position: relative;
    /*overflow:clip;*/
}

/* Typography ---------------------------------------------------------------------- */
h1 {
    font-size: 3rem;
    font-family: MissFutura;
    font-weight: normal;
}

h2 {
    font-size: 4rem;
    font-family: MissFutura;
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;
    font-family: MissFutura;
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: MissFutura;
    font-weight: normal;
    font-size: 1.2rem;
}

h5 {
    font-family: MissFutura;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    margin: auto;
}

a {
    color: var(--accent);
}

#topnavdiv a {
    color: white;
    font-size: 1.6rem;
    font-style: normal;
    text-decoration: none;
}

/* Full body stuff ----------------------------------------------------------------- */

body {
    background-color: var(--bggreen);
}

.content-container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.content-container-wide {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

section {
    padding-top: 200px;
    overflow:hidden;
    border:#d1158d 1px solid;
}
/* Background textures GREEN ----------------------------------------------------------------- */
#bglayer1{
    position: absolute;
    background-size: cover;
    background-image: url('images/SVG/webbylong.svg');
    /*background-color: var(--pink);*/
    min-height: 100%;
    width: 100%;
    z-index: -1;
}
#bglayer2{
    position: absolute;
    background-size: cover;
    background-image: url('images/SVG/multihexweblong.svg');
    height: 100%;
    width: 100%;    
    opacity: 42%;
    z-index: -1;
}
#bglayer3{
    background-size: cover;
    background-image: url('images/SVG/lotuslong.svg');
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/* Background Textures ANIMATED COLORS*/

.contentANIM{
    position: absolute;
    width:100%;
    height: 3000px;
    overflow:hidden;

    z-index: -1;
}

.rippleHORIZON{
    position: absolute;
    height: 700px;
    width: auto;
}
.rippleVERTICAL{
    position: absolute;
    height: auto;
    width: 700px;
}

.hexcluster{
    position: absolute;
    height: 700px;
    width: auto;
}

@keyframes rotateLEFT {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes rotateRIGHT {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}

@keyframes pulse {
  0% {transform: scale(0.9);}
  50% {transform: scale(1);}
  100% {transform: scale(0.9);}
}

@keyframes comboLEFT {
  from {transform: rotate(0deg) scale(0.5);}
  to {transform: rotate(360deg) scale(1);}
}

@keyframes comboRIGHT {
from {transform: rotate(360deg) scale(0.5);}
  to {transform: rotate(0deg) scale(1);}

}

.rotateLEFT{
  will-change: transform;
  animation-name: rotateLEFT;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rotateRIGHT{
  will-change: transform;
  animation-name: rotateRIGHT;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pulse{
  will-change: transform;
  animation-name: pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.comboLEFT{
  will-change: transform;
  animation-name: comboLEFT;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.comboRIGHT{
  will-change: transform;
  animation-name:  comboRIGHT;
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/* Navigation bar  ----------------------------------------------------------------- */
#headerwrapperHighlight, #headerwrapperHighlight div{
    pointer-events: none !important; 
}

.upperdownerwrapper, 
.upperdownerwrapperHighlight,
#topnavspacer {
    height: var(--navheight);
    max-width: 800px;
    margin: auto;
}
#headerwrapperHighlight {
    mix-blend-mode: hard-light;   
}
#headerwrapper, #headerwrapperHighlight {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 3;
}

#topnavdiv, #topnavdivHighlight {
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#navhexred {
    background-image: url(images/SVG/vhexred.svg);
}
#navhexpink {
    background-image: url(images/SVG/vhexpink.svg);
}
#navhexpurple {
    background-image: url(images/SVG/vhexpurple.svg);
}
#navhexorange {
    background-image: url(images/SVG/vhexorange.svg);
}

#topnavdiv div,
#topnavdivHighlight div{
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display: flex; /* Magic begins */
    justify-content: center; /* Center contents */
    
}

#topnavdiv div a,
#topnavdivHighlight div a{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
}

/* Linework growth ----------------------------------------------------------------- */

.p5Canvas {
    position: absolute;
    top: -550px;
    
}

#herolichen {
    z-index: 1;
    mix-blend-mode: hard-light;
    left: 50%;
    transform: translateX(-50%);
}

#topnavdivHighlight .p5Canvas {
    transform: rotate(330deg);
    position: absolute;
    top: -915px;
}

/* Landing page section ----------------------------------------------------------------- */

#herodiv {
    /*top: var(--navheight);*/
    width: 100%;
    height: var(--heroheight);
    background-image: url(images/texture.png);
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

#herospacer {
    top: var(--navheight);
    height: var(--heroheight);
}

#titlewrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#titleimg {
    display: block;
    margin: auto;
    position: relative;
    padding-right: 40px;
    z-index: 2;
    padding-top: 80px;
    width: 80vw;
    height: 80%;
    max-height: 700px;
    fill: white;
}

/* Students section ----------------------------------------------------------------- */

    /*hexagon frames*/
.student-frame {
    background-image: url(images/students/studentsplaceholder2.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom -100px;
}

.student-bg-red {
    background-color: var(--reddark);
}
.student-bg-purple {
    background-color: var(--purpledark);
}
.student-bg-orange {
    background-color: var(--orangedark);
}
.student-bg-pink {
    background-color: var(--pinkdark);
}
.hex-vert{
    width: var(--hex-size);
    height: calc(0.8660254 * var(--hex-size));
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.hex {
    width: var(--hex-size);
    height: calc(1.1547005 * var(--hex-size));
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
}
    /*---*/

.flex-student-rows {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.student-link {
    position: relative;
    
    width: 80%;
    height: 100%;
}

.flex-student {
    width: fit-content;
    max-width: 30%;
    height:fit-content;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 6%;
}

/*
.student-image {
    height: auto;
    width: 100%;
    
}
*/

/* Media queries for size responsiveness ----------------------------------------------------------------- */
@media screen and (max-width: 860px) {
    .upperdownerwrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 940px) {
    .content-container {
        margin-left: 70px;
        margin-right: 70px;
    }
    #topnavdiv a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .content-container,
    .upperdownerwrapper {
        margin-left: 30px;
        margin-right: 30px;
    }
}
